@page
@model ConnectDbAspNet.Pages.CreateModel
@{
}

<p>Add new student</p>

<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" asp-for="@Model.student.Name"></label>
        <div class="col-sm-6">
            <input asp-for="@Model.student.Name" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label" asp-for="@Model.student.EnrollmentDate"></label>
        <div class="col-sm-6">
            <input asp-for="@Model.student.EnrollmentDate" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button class="btn btn-primary" type="submit">Add Student</button>
        </div>
    </div>
</form>