html {
    font-size: 14px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

aside {
    position: absolute;
    left: 0;
    top: 100px;
    bottom: 100px;
    width: 200px;
    background-color: #f1f1f1;
    padding: 10px;
    opacity: 0;
}

#currentDateTime {
    position: absolute;
    bottom: 50px;
    right: 10px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1080px) {
    aside {
        opacity: 1;
    }
}